<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{{ SITENAME }}{% endblock %}</title>
	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Merriweather:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" type="text/css"/>
	
	<!-- Additional critical CSS -->
	<link href="{{ SITEURL }}/theme/css/pygments/{{ PYGMENTS_STYLE|default('native') }}.css" rel="stylesheet">
    {% if DOCUTIL_CSS %}
        <link href="{{ SITEURL }}/theme/css/html4css1.css" rel="stylesheet">
    {% endif %}
    {% if TYPOGRIFY %}
        <link href="{{ SITEURL }}/theme/css/typogrify.css" rel="stylesheet">
    {% endif %}
	
	<!-- RSS Feeds -->
    {% if FEED_ALL_ATOM %}
        <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
              title="{{ SITENAME }} ATOM Feed"/>
    {% endif %}
    {% if FEED_ALL_RSS %}
        <link href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" type="application/atom+xml" rel="alternate"
              title="{{ SITENAME }} RSS Feed"/>
    {% endif %}

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<header role="banner" class="banner{% if self.banner_image() %} banner_image{% endif %}"{% if self.banner_image() %} style="background-image:url('{% block banner_image %}{% endblock %}')"{% endif %}>
		<div class="container">
			<div class="content">
				<hgroup class="content_area">
					<h1><a href="/">open<span class="nasa">NASA</span></a></h1>
				</hgroup>
			</div>
	</header>
	
	{% block content %}
	{% endblock %}
	

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	
</body>
</html>
